footer {
  background-color: #3438396e;
}

footer div {
  font-size: 90%;
  color: #b4a680;
}

footer div a {
  color: #ad8657;
}

@media only screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
