h1 {
  color: #a68232;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: gameOfThrones;
}

@font-face {
  font-family: 'gameOfThrones';
  src: url('../assets/fonts/GameOfThrones.ttf');
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 15pt;
  }
}
