input,
select {
  width: 100%;
}

button {
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.hidden {
  visibility: hidden;
}

small {
  color: #dc3545;
}

.list-group-item {
  background-color: #10181c80;
}

h2 {
  color: white;
}

.form-control {
  color: #6c757c;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 17pt;
  }
  .form-control {
    font-size: 10pt;
  }
}
