/* You can add global styles to this file, and also import other style files */

body {
  background: #0e0e17 url(./assets/img/background.jpg) center fixed;
  background-size: cover;
  min-height: 100vh;
}
