<div>
  <div class="row">
    <div class="col-9">
      <input class="form-control" type="text" [(ngModel)]="service.name" (change)="service.findCharacter()" placeholder="Search Character name"
        *ngIf="service.showSearchList">
      <div>
        <div class="list-group" *ngFor="let x of service.charactersList">
          <a href="#" class="list-group-item list-group-item-action" *ngIf="service.findCharacter(x.fullName) === 1" (click)="service.displayInfo(x)">{{x.fullName}}</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-success float-right" (click)="service.newCharacter()">Add</button>
    </div>
  </div>
