p {
  padding-left: 0.5rem;
  margin-bottom: 0rem;
}

img {
  width: 100%;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.list-group-item {
  background-color: #10181cd6;
}

small {
  color: #909090;
}

h2,
p {
  color: white;
}

@font-face {
  font-family: 'gameOfThrones';
  src: url('../../assets/fonts/GameOfThrones.ttf');
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 17pt;
  }
  p {
    font-size: 10pt;
  }
  small {
    font-size: 8pt;
  }
}
